---

---
<nav
  class="flex justify-between items-center py-2 px-3 w-11/12 sm:w-6/12 mx-auto rounded-full border-2 border-gray-400 mt-10
        backdrop-blur-[21px] backdrop-saturate-[124%] bg-white/30 fixed left-1/2 -translate-x-1/2 top-0 z-50"
>
  <h2 class="text-xl font-semibold text-center text-[#1b1b1b]">
    Reporte Rapido
  </h2>
  <ul class="flex gap-3 font-medium">
    <li
      class="px-3 py-2 rounded-full transition-colors hover:bg-slate-100 cursor-pointer"
    >
        <a href="/">
            Inicio
        </a>
    </li>
    <li
      class="px-3 py-2 rounded-full transition-colors hover:bg-slate-100 cursor-pointer"
    >
      Caracteristicas
    </li>
    <li
      class="px-3 py-2 rounded-full transition-colors hover:bg-slate-100 cursor-pointer"
    >
        <a href="/sobre-nosotros">
            Sobre nosotros
        </a>
    </li>
    <li></li>
  </ul>
</nav>
