---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="fixed inset-0 -z-10 h-screen w-full  bg-white bg-[linear-gradient(to_right,#e6e6e6_1px,transparent_1px),linear-gradient(to_bottom,#e6e6e6_1px,transparent_1px)] bg-[size:6rem_4rem]">
			<div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_100%_100px,#93c5fd,transparent)]"></div>
			<div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_300px_at_2%_380px,#ddd6fe,transparent)]"></div>

		</div>
	</div>
	<Nav />
	<slot />
	<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
